.product-card{
  height: 510px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #95A0A7;
  position: relative;
}
.product-card img{
    height: 286px;
    width: 286px;
    margin: 7px;
    border-radius: 8px;
}
.common-info{
    padding-left: 14px;
}
.common-info h4{
    font-size: 22px;
    color: #0E161A;
    font-weight: 400;
}
.common-info p{
    color: #0E161A;
    font-size: 17px;
}
.other-info{
    padding-top: 20px;
}
.cart-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px 0px;
    background-color: #FFE0B3;
    border: none;
    border-top: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    font-size: 20px;
}
.cart-btn:hover{
    background-color: orange;
}